.contact {
  @include breakpoint-up(large) {
    margin-block: 4rem;
  }
  @include breakpoint-down(medium) {
    height: 100%;
  }

  &__image {
    @include breakpoint-up(large) {
      z-index: 10;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint-up(medium) {
      margin-top: 4rem;
    }
    @include breakpoint-up(large) {
      margin-top: 0;
      display: grid;
      row-gap: 2rem;
    }
  }
  &__heading {
    font-family: var(--font-cursive);
    font-size: var(--size2);
    @include breakpoint-down(medium) {
      margin-top: 2rem;
    }
    @include breakpoint-up(medium) {
      font-size: var(--size1);
    }
    @include breakpoint-up(large) {
      padding: 2rem;
      background-color: var(--white);
      color: var(--gray1);
    }
  }
  &__list {
    margin: 0;
    padding: 2rem;
    list-style-type: none;
    text-align: left;
    color: var(--white);
    @include breakpoint-up(large) {
      background-color: var(--gray1);
    }
  }
  &__list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.5rem;
    & + & {
      margin-top: 1rem;
    }
  }
  &__icon {
    width: 2rem;
    height: auto;
    position: relative;
    // bottom: 5px;
  }
  &__link {
    // font-family: var(--font-sans);
    font-size: var(--size5);
    // text-transform: uppercase;
  }
}
