.rates {
  display: flex;
  justify-content: center;
  width: 100%;
  @include breakpoint-up(large) {
    margin-bottom: 2rem;
  }

  &__text {
    display: grid;
    row-gap: 2rem;
  }

  &__heading {
    padding: 1rem;
    font-family: var(--font-cursive);
    font-size: var(--size1);
    @include breakpoint-up(large) {
      color: var(--white);
      background-color: var(--gray1);
    }
  }
  &__section {
    padding: 1rem;
    @include breakpoint-up(large) {
      background-color: var(--gray6);
    }
  }
  &__cottage-heading {
    margin-bottom: 1rem;
    font-family: var(--font-sans);
    font-size: var(--size4);
    font-weight: 600;
    text-transform: uppercase;
  }
  &__info {
    // padding-inline: 1rem;
    h3 {
      margin-top: 1rem;
      font-family: var(--font-sans);
      font-weight: 400;
      text-transform: uppercase;
      font-size: var(--size5);
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    @include breakpoint-up(large) {
      color: var(--white);
      background-color: var(--gray1);
    }
  }
}
