.whatsapp {
  position: fixed;
  bottom: 2.5rem;
  right: 0.9375rem;
  width: 2.25rem;
  height: 2.25rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    height: 100%;
  }
}
