---
title: Oops!
permalink: 404.html
layout: layouts/base.njk
---

<div class="oops">
    <div class="oops__text">
        <h2>Oops!</h2>
        <p>Here at Brakdakkie, we like to go off the beaten track sometimes. But that page you've asked for is so remote we can't find it. In fact, we're pretty sure it doesn't exist.</p>
        <p>Perhaps you could try one of these instead?</p>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/cottages">Cottages</a>
            </li>
            <li>
                <a href="/rates">Rates</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>