---
layout: 'layouts/base.njk'
permalink: /cottages/
title: Cottages
---

{% set cottages = cottagesPage.cottages %}

<div class="cottages tabbed">
    <nav class="cottages__nav">
        <ul class="cottages__tab-list">
            {% for item in cottages %}
                <li class="cottages__tab-list-item">
                    <a href="#cottage{{ item.number }}">Cottage {{ item.number }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% for cottage in cottages %}
        <section id="cottage{{ cottage.number }}">
            <div class="cottages__gallery">
                {% for item in cottage.gallery %}
                    <div class="cottages__image">
                        {% image item.url,
                        item.description,
                        sizes = "(max-width: 1200px) 30vw, 340px",
                        widths = [200, 600, 900, 1200, 1800, 2400, 4200, null],
                        galleryImage = true,
                        loading = "eager" %}
                    </div>
                {% endfor %}
            </div>

            <div class="cottages__info">
                <h1 class="cottages__heading">{{ cottage.heading }}</h1>
                <div class="cottages__description">
                    {{ cottage.description | markdown | safe }}
                </div>
                <div class="btn__container">
                    <a href="{{ cottage.bookingLink }}" class="btn">Book Now</a>
                </div>
            </div>

            <div class="sbs-grid cottages__rates">
                <div class="sbs-grid__image cottages__rates-image">
                    {% image cottagesPage.featuredImage.url,
                    "",
                    sizes = "(max-width: 1023px) 100vw, 500px"
                    %}
                </div>
                <div class="sbs-grid__text cottages__rates-text">
                    <h2>Cottage {{ cottage.number }} Rates</h2>
                    {% if cottage.number === '3' %}
                        {% set rate = ratesPage.rates | find('cottage', 'three') %}
                    {% else %}{% set rate = ratesPage.rates | find('cottage', 'one_two_four') %}
                    {% endif %}
                    {{ rate.rate | markdown | safe }}
                </div>
            </div>
        </section>
    {% endfor %}
</div>
<script type="module" defer>
    import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.min.js';
    const galleries = document.querySelectorAll('.cottages__gallery');
    Array
        .prototype
        .forEach
        .call(galleries, (gallery) => {
            const lightbox = new PhotoSwipeLightbox({
                gallery,
                children: 'a',
                pswpModule: () => import ('/photoswipe/photoswipe.esm.min.js')
            });
            lightbox.init();

        })
</script>