html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-serif);
  line-height: 1.5;
  background-color: var(--gray5);
}

main {
  $header-height: 3.3125rem;
  $footer-small: 3.24875rem;
  $footer-big: 8.49625rem;

  .contact-page & {
    @include breakpoint-up(small) {
      height: calc(100% - $footer-big);
    }
  }
  padding-top: 4.0125rem;
  min-height: calc(100% - $footer-big);
  .fullscreen & {
    min-height: calc(100% - $footer-small);
  }
  & > div,
  & > section {
    margin-inline: auto;
  }
}

.menu-open {
  overflow: hidden;
}

.fullscreen {
  color: var(--white);
  background-color: initial;
}

// text
p {
  line-height: 1.75;
  & + * {
    margin-top: 1em;
  }
}
h1 {
  font-size: var(--size1);
}
h2 {
  font-size: var(--size2);
}
h3 {
  font-size: var(--size3);
}
h4 {
  font-size: var(--size4);
}

ul:not([class]),
ol:not([class]) {
  padding-left: 1.125rem;
  list-style-type: disc;
}

li:not([class]) + li:not([class]) {
  margin-top: 0.75em;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 150ms ease-in-out;
  &:hover,
  &:focus {
    color: var(--red);
  }
}

// Screen readers
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
