html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-serif);
}

main {
  margin-top: 4.0125rem;
  .fullscreen & {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.menu-open {
  overflow: hidden;
}

.fullscreen {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

// Screen readers
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
