<link rel="preload" href="/fonts/kaushan-script-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/open-sans-v29-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/open-sans-v29-latin-500.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/open-sans-v29-latin-600.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/merriweather-v30-latin-italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/merriweather-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/merriweather-v30-latin-700.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/merriweather-v30-latin-700italic.woff2" as="font" type="font/woff2" crossorigin />