{% if bodyClass | makeArray | has("fullscreen")or transparentLogo === true %}
  {% set logoUrl = "assets/brakdakkie-logo1-transparent.svg" %}
{% else %}
  {% set logoUrl = "assets/brakdakkie-logo1.svg" %}
{% endif %}
{# {% image logoUrl, "Brakdakkie Guest Cottages", formats=['svg'], widths=[null], loading="eager" %} #}
{% image logoUrl,
"Brakdakkie Guest Cottages",
widths = [null],
loading = "eager",
sizes = "(max-width: 320px): 100vw, 320px" %}